body{
    background-color: aqua;
}
#galeria > div{
    float: left;
    width: 33%;
    padding: 10px;
    box-sizing:border-box ;
}
.foto img{
    width: 100%;
    display: block;
}
.detalhes{
    display: none;
}
#galeria .foto:target{
    position: fixed;
    width: 50%;
    top: 15px;
    left: 25%;
    padding: 10px;
    border: solid 1px goldenrod ;
    box-shadow: 0 0 25px 10px black;
    background: white;
    border-radius: 5px;

}
.foto:target .detalhes{
    display: block;

}